@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: var(--font-m);
}

.app {
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.app_modal {
  color: var(--primary-color);
  font: var(--font-m);
}

.content-page {
  display: flex;
}

.page-wrapper {
  width: calc(100% - var(--sidebar-width));
  margin-left: 30px;
  padding: 20px;
}

.hero-text {
  font-size: var(--hero-text-size);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 7px;
  margin-bottom: 20px;
  font-family: var(--hero-text-font);
}
