@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";

body {
  font: var(--font-m);
  color: var(--primary-color);
  height: 100vh;
}

.app {
  background: var(--bg-color);
  color: var(--primary-color);
  min-width: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  width: calc(100% - var(--sidebar-width));

  // flex-grow: 1;
  padding: 20px;
}

.hero-text {
  font-size: var(--hero-text-size);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: var(--hero-text-font);
}
