@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";
@import "themes/vintage";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: var(--font-m);
}

.app {
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.app_modal {
  color: var(--primary-color);
  font: var(--font-m);
}

.content-page {
  display: flex;
}

.hero-text {
  font-size: var(--hero-text-size);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 7px;
  margin-top: 2rem;
  font-family: var(--hero-text-font);
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);
  border-radius: 5px;
  border: 2px solid var(--primary-color);
}
