.LoginForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.input {
  margin-top: 10px;
  margin-right: 1rem;
}

.loginBtn {
  margin-top: 15px;
  margin-right: 10px;
  margin-left: auto;
}
