.title {
  color: var(--primary-color);
  margin-block-end: 0;
  margin-block-start: 0;
}

.text {
  color: var(--secondary-color);
  margin-block-end: 0;
  margin-block-start: 0;
}

.error {
  .title {
    color: var(--red-light);
  }

  .text {
    color: var(--red-dark);
  }
}

.hero {
  .title {
    font-size: var(--hero-text-size);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 7px;
    margin-bottom: 20px;
    font-family: var(--hero-text-font);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.size_m {
  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-m);
  }
}

.size_l {
  .title {
    font: var(--font-xl);
  }

  .text {
    font: var(--font-l);
  }
}
