.ArticleList {
  width: 100%;
}

.LIST {
  .card {
    margin-bottom: 2rem;
  }
}

.TILE {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  .card {
    display: inline-flex;
    height: 300px;
    margin-bottom: 2rem;
  }

  .row {
    display: flex;
    gap: 1.5rem;
  }
}
