.app.light {
  --bg-color: rgb(255 255 255);
  --inverted-bg-color: rgb(33 31 40);
  --primary-color: rgb(33 31 40);
  --secondary-color: rgb(78 58 99);
  --inverted-primary-color: orange;
  --inverted-secondary-color: rgb(238 202 182);
}
