.app_vintage_theme {
  --bg-color: #131a30;
  --inverted-bg-color: #4056a1;
  --primary-color: #efe2ba;
  --secondary-color: #f13c20;
  --inverted-primary-color: #c5cbe3;
  --inverted-secondary-color: #d79922;

  // skeleton
  --skeleton-color: #4056a1;
  --skeleton-shadow: #131a30;
}
