.Page {
  // width: calc(100% - var(--sidebar-width));
  flex-grow: 1;
  height: calc(100vh - var(--navbar-height));
  margin-left: 2rem;
  margin-right: 1rem;
  padding: 1.5rem;
  overflow-y: auto;
  flex-shrink: 100;
}

.trigger {
  height: 20px;
  margin: 0.5rem;
}
