.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 1.5rem;
  padding-right: 2.5rem;
}

.links {
  margin-left: auto;
}

.homeLink {
  margin-right: 20px;
}

.appName {
  width: var(--sidebar-width);
}

.createBtn {
  margin-left: 2rem;
}
