.AppLink {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover{
    color: var(--inverted-secondary-color);
  }

  &:active {
    color: white;
  }
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}